.contentPageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: $space-48;
  margin-bottom: $space-48;
}

.contentPageContainer {
  width: 100%;
  max-width: 1280px;

  padding: 0 $space-24;

  display: flex;
  flex-direction: column;
  //gap: $space-32; // header ↔ body 기본 리듬
  gap: $space-24; // header ↔ body 기본 리듬
}

@media (max-width: 1024px) {

  .contentPageContainer {
    padding: 0 $space-16;
    gap: $space-24;
  }
}

@media (max-width: 768px) {

  .contentPageWrapper {
    margin-top: $space-32;
    margin-bottom: $space-32;
  }

  .contentPageContainer {
    padding: 0 $space-16;
    gap: $space-24;
  }
}
