.summary {
  background: $primary-bg;
  border-radius: 0.8rem;
  padding: 2rem;
  margin-bottom: 3.2rem;
  line-height: 2;

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    //margin-top: 3.2rem;
    margin-bottom: 1.2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }

  ul {
    padding-left: 2rem;
    margin-bottom: 1.6rem;

    li {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }

    a {
      color: #60a5fa;
      font-size: 1.5rem;
      text-decoration: underline;
    }
    strong {
      font-weight: 600;
    }
  }
}

.footer {
  margin-top: 4.8rem;

  p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: $primary8;
  }
}
