@use "./reset";
@use "./variables/colors";
@use "./variables/spacing";
@use "./variables/zindex";
@use "./mixins/flex";
@use "./mixins/media";
@use "./base/typography";
@use "./base/base";


body {
  background: #f5f5f5; // 전체 사이트 배경
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 1rem 0;
}
h1 {
  font-size: 5.4rem;
}
h2 {
  font-size: 4rem;
}

.container {
  background: #fff;
}
