@use "./reset";
@use "./variables/colors";
@use "./variables/spacing";
@use "./variables/zindex";
@use "./mixins/flex";
@use "./mixins/media";
@use "./base/typography";
@use "./base/base";


body {
  background: #f5f5f5; // 전체 사이트 배경
}


.container {
  background: #fff;
}
