<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dawne.com2usbaseball.domain.coupon.repository.mapper.CouponMapper">

    <select id="selectCouponListForUser" resultType="com.dawne.com2usbaseball.domain.coupon.entity.CouponEntity">
        SELECT
           id,
           coupon_code,
           title,
           detail,
           expire_at,
           is_visible AS visible,
           created_at,
           updated_at
        FROM site_coupons
        WHERE is_visible = true
    </select>


    <select id="selectCouponList" resultType="com.dawne.com2usbaseball.domain.coupon.entity.CouponEntity">
        SELECT
            id,
            coupon_code,
            title,
            detail,
            expire_at,
            is_visible AS visible,
            created_at,
            updated_at
        FROM site_coupons
    </select>

    <select id="selectCouponById" resultType="com.dawne.com2usbaseball.domain.coupon.entity.CouponEntity">
        SELECT
            id,
            coupon_code   AS couponCode,
            title,
            detail,
            expire_at     AS expireAt,
            is_visible    AS visible,
            created_at    AS createdAt,
            updated_at    AS updatedAt
        FROM coupons
        WHERE id = #{id}
    </select>

    <insert id="insertCoupon" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO site_coupons (
            coupon_code,
            title,
            detail,
            expire_at,
            is_visible,
            created_at,
            updated_at
        ) VALUES (
            #{couponCode},
            #{title},
            #{detail},
            #{expireAt},
            #{visible},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateCouponById" parameterType="com.dawne.com2usbaseball.domain.coupon.entity.CouponEntity">
        UPDATE site_coupons
        <set>
            <if test="couponCode != null">
                coupon_code = #{couponCode},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="detail != null">
                detail = #{detail},
            </if>
            <if test="expireAt != null">
                expire_at = #{expireAt},
            </if>
            is_visible = #{visible},
            updated_at = NOW()
        </set>
        WHERE id = #{id}

    </update>

    <update id="updateCouponVisible">
        UPDATE site_coupons
        SET
            is_visible = #{visible},
            updated_at = NOW()
        WHERE id = #{id}
    </update>
</mapper>
