@use "../variables/colors" as *;

.mobileNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  background: $surface2;
  border-top: 1px solid $border-strong;
  z-index: 3000;
}

/* 버튼 공통 */
.mobileNav a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.4rem;
  color: $text-secondary;
  text-decoration: none;
}

/* 활성 상태 */
.mobileNav a.active {
  color: $text-primary;
}

/* PC에서는 숨김 */
@media (min-width: 769px) {
  .mobileNav {
    display: none;
  }
}
