<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dawne.com2usbaseball.domain.fun.playerCard.mapper.PlayerCardHitterStatsMapper">

    <resultMap id="PlayerCardHitterStatsResultMap"
               type="com.dawne.com2usbaseball.domain.fun.playerCard.entity.PlayerCardHitterStatsEntity">
        <id property="cardId" column="card_id"/>
        <result property="accuracy" column="accuracy"/>
        <result property="power" column="power"/>
        <result property="discipline" column="discipline"/>
        <result property="speed" column="speed"/>
        <result property="defense" column="defense"/>
    </resultMap>

    <insert id="insert"
            parameterType="com.dawne.com2usbaseball.domain.fun.playerCard.entity.PlayerCardHitterStatsEntity">
        INSERT INTO fun_player_card_hitter_stats
        (
            card_id,
            accuracy,
            power,
            discipline,
            speed,
            defense
        )
        VALUES
            (
                #{cardId},
                #{accuracy},
                #{power},
                #{discipline},
                #{speed},
                #{defense}
            )
    </insert>

    <update id="update"
            parameterType="com.dawne.com2usbaseball.domain.fun.playerCard.entity.PlayerCardHitterStatsEntity">
        UPDATE fun_player_card_hitter_stats
        SET
            accuracy = #{accuracy},
            power = #{power},
            discipline = #{discipline},
            speed = #{speed},
            defense = #{defense}
        WHERE card_id = #{cardId}
    </update>

    <delete id="deleteByCardId" parameterType="long">
        DELETE FROM fun_player_card_hitter_stats
        WHERE card_id = #{cardId}
    </delete>

    <select id="findByCardId" parameterType="long" resultMap="PlayerCardHitterStatsResultMap">
        SELECT
            card_id,
            accuracy,
            power,
            discipline,
            speed,
            defense
        FROM fun_player_card_hitter_stats
        WHERE card_id = #{cardId}
    </select>

</mapper>
