<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dawne.com2usbaseball.domain.fun.playerCard.mapper.PlayerCardPitcherStatsMapper">

    <resultMap id="PlayerCardPitcherStatsResultMap"
               type="com.dawne.com2usbaseball.domain.fun.playerCard.entity.PlayerCardPitcherStatsEntity">
        <id property="cardId" column="card_id"/>
        <result property="control" column="control"/>
        <result property="velocity" column="velocity"/>
        <result property="stamina" column="stamina"/>
        <result property="fastball" column="fastball"/>
        <result property="breaking" column="breaking"/>
    </resultMap>

    <insert id="insert"
            parameterType="com.dawne.com2usbaseball.domain.fun.playerCard.entity.PlayerCardPitcherStatsEntity">
        INSERT INTO fun_player_card_pitcher_stats
        (
            card_id,
            control,
            velocity,
            stamina,
            fastball,
            breaking
        )
        VALUES
            (
                #{cardId},
                #{control},
                #{velocity},
                #{stamina},
                #{fastball},
                #{breaking}
            )
    </insert>

    <update id="update"
            parameterType="com.dawne.com2usbaseball.domain.fun.playerCard.entity.PlayerCardPitcherStatsEntity">
        UPDATE fun_player_card_pitcher_stats
        SET
            control = #{control},
            velocity = #{velocity},
            stamina = #{stamina},
            fastball = #{fastball},
            breaking = #{breaking}
        WHERE card_id = #{cardId}
    </update>

    <delete id="deleteByCardId" parameterType="long">
        DELETE FROM fun_player_card_pitcher_stats
        WHERE card_id = #{cardId}
    </delete>

    <select id="findByCardId" parameterType="long" resultMap="PlayerCardPitcherStatsResultMap">
        SELECT
            card_id,
            control,
            velocity,
            stamina,
            fastball,
            breaking
        FROM fun_player_card_pitcher_stats
        WHERE card_id = #{cardId}
    </select>

</mapper>
