@use "../variables/colors" as *;

body {
  font-family: "Pretendard", sans-serif;
  color: $text-primary;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}
h1 {
  font-size: clamp(3.2rem, 1.2rem + 3vw, 4.8rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(2.4rem, 1.0rem + 2vw, 3.2rem);
  font-weight: 700;
}

h3 {
  font-size: clamp(2.0rem, 0.8rem + 1.2vw, 2.4rem);
  font-weight: 600;
}

h4 {
  font-size: clamp(1.8rem, 0.9rem + 0.8vw, 2.0rem);
  font-weight: 600;
}

h5 {
  font-size: clamp(1.6rem, 0.85rem + 0.4vw, 1.8rem);
  font-weight: 500;
}

h6 {
  font-size: clamp(1.4rem, 0.75rem + 0.3vw, 1.6rem);
  font-weight: 500;
}
