@use "@/styles/variables/colors" as *;

.container {
  max-width: 90rem;
  margin: 6rem auto;
  padding: 0 2.4rem;
}

/* 헤더 */
.header {
  border-bottom: 1px solid #1f2937;
  padding-bottom: 2.4rem;
  margin-bottom: 3.2rem;
}

.category {
  display: inline-block;
  font-size: 1.5rem;
  color: #60a5fa;
  margin-bottom: 0.8rem;
  cursor: pointer;

  &:hover {
    color: #89bcfb;
    font-weight: 700;
  }
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.meta {
  font-size: 2.8rem;
  color: $primary8;
  display: flex;
  gap: 1rem;
}

/* 요약 */
.summary {
  background: $primary-bg;
  border-radius: 0.8rem;
  padding: 2rem;
  margin-bottom: 3.2rem;
  & > ul {
    list-style: disc;
    padding-left: 2rem;

    & > li {
      line-height: 2;
      font-size: 1.6rem;
    }
  }
}

/* 본문 */
.body > ol {
  padding-left: 2rem;
  & > li {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 1.4rem;
    font-weight: lighter;
  }
}

/* 푸터 */
.footer {
  margin-top: 48px;

  & > p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: $primary;
  }
}
