@use "@/styles/variables/colors" as *;

.homePage {
  user-select: none;

  .hero {
    padding: 10rem 2rem;
    text-align: center;

    background-image: url("@/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;

    .heroInner {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $surface3;
      border-radius: 0.5rem;
      padding: 1rem;
    }


    h1 {
      font-size: 3rem;
      color: #fff;
    }
  }

  .features {
    margin-top: -3rem;
    padding: 2rem;

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.6rem;

      .card {
        background: #1f2937;
        padding: 2rem;
        border-radius: 1.2rem;
        color: #fff;
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }
}
