.homePage {
  .hero {
    padding: 10rem 2rem;
    text-align: center;

    background-image: url("@/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .heroInner {
      color: black;

      & h1 {
        color: black;
      }
    }


    h1 {
      font-size: 3rem;
      color: #fff;
    }
  }

  .features {
    margin-top: -3rem;
    padding: 2rem;

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.6rem;

      .card {
        background: #1f2937;
        padding: 2rem;
        border-radius: 1.2rem;
        color: #fff;
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }
}
