@use "@/styles/variables/colors" as *;

.homePage {
  user-select: none; /* text */
  white-space: nowrap;
  flex-shrink: 0;

  .hero {
    padding: 10rem 2rem;
    text-align: center;

    background-image: url("@/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;

    .heroInner {
      width: 30%;
      min-width: 27rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $surface3;
      border-radius: 0.5rem;
      padding: 1rem;
    }


    h1 {
      font-size: 3rem;
      color: #fff;
    }
  }

  .features {
    margin-top: 3rem;
    padding: 2rem;

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.6rem;

      .card {
        background: $primary-bg;
        padding: 2rem;
        border-radius: 1.2rem;
        color: #fff;
        text-align: center;
        font-size: 1.4rem;

        &:hover {
          background: $primary-hover;
          transition: background 0.25s ease;
        }
      }
    }
  }
}

.subTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  & h2 {
    display: inline-block;
  }
  & > span {
    color: $primary;
    cursor: pointer;

    &:hover {
      color: $text-secondary;
    }
    & a{
      font-size: 2rem;
    }
  }
}
