@use "@/styles/variables/colors" as *;

.container {
  max-width: 90rem;
  margin: 6rem auto;
  padding: 0 2.4rem;


}

/* 헤더 */
.header {
  border-bottom: 1px solid #1f2937;
  padding-bottom: 2.4rem;
  margin-bottom: 3.2rem;

  .category {
    display: inline-block;
    font-size: 1.5rem;
    color: #60a5fa;
    margin-bottom: 0.8rem;
  }

  .title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  .meta {
    font-size: 1.4rem;
    color: $primary8;
    display: flex;
    gap: 1rem;
  }

  & > p {
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 2;
  }
}

/* 요약 */
.summary {
  background: $primary-bg;
  border-radius: 0.8rem;
  padding: 2rem;
  margin-bottom: 3.2rem;
  line-height: 2;

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    //margin-top: 3.2rem;
    margin-bottom: 1.2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }

  ul {
    padding-left: 2rem;
    margin-bottom: 1.6rem;

    li {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }

    a {
      color: #60a5fa;
      font-size: 1.5rem;
      text-decoration: underline;
    }
    strong {
      font-weight: 600;
    }
  }
}

/* 푸터 */
.footer {
  margin-top: 4.8rem;

  p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: $primary8;
  }
}
