.listGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .listGrid {
    grid-template-columns: 1fr;
  }
}
