<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dawne.com2usbaseball.domain.community.repository.mapper.BoardMapper">

    <select id="selectBoards"
            resultType="com.dawne.com2usbaseball.domain.community.entity.BoardsEntity">

        SELECT
            id,
            code,
            name,
            description,
            write_role,
            read_role,
            is_visible AS visible,
            is_deleted AS deleted,
            sort_order,
            created_at,
            updated_at
        FROM boards
        ORDER BY sort_order
    </select>

    <insert id="insertBoard" parameterType="com.dawne.com2usbaseball.domain.community.entity.BoardsEntity"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO boards (
            code,
            name,
            description,
            write_role,
            read_role,
            is_visible,
            is_deleted,
            sort_order,
            created_at,
            updated_at
        ) VALUES (
            #{code},
            #{name},
            #{description},
            #{writeRole},
            #{readRole},
            #{visible},
            #{deleted},
            #{sortOrder},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateBoard" parameterType="com.dawne.com2usbaseball.domain.community.entity.BoardsEntity">
        UPDATE boards
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="name != null">
                name = #{name},
            </if>

            description = #{description},

            <if test="writeRole != null">
                write_role = #{writeRole},
            </if>
            <if test="readRole != null">
                read_role = #{readRole},
            </if>
            <if test="visible != null">
                is_visible = #{visible},
            </if>
            <if test="deleted != null">
                is_deleted = #{deleted},
            </if>

            sort_order = #{sortOrder},

            updated_at = NOW()
        </set>

        WHERE id = #{id}

    </update>

    <select id="selectBoardsWithUser" resultType="com.dawne.com2usbaseball.domain.community.entity.BoardsEntity">
        SELECT
            id,
            code,
            name,
            description,
            write_role,
            read_role,
            is_visible AS visible,
            is_deleted AS deleted,
            sort_order,
            created_at,
            updated_at
        FROM boards
        WHERE is_visible = true
          AND is_deleted = false
        ORDER BY sort_order
    </select>

</mapper>
