@use "reset";
@use "variablesolors";
@use "variablespacing";
@use "variablesindex";
@use "mixins/flex";
@use "mixins/media";
@use "mixins/table";
@use "base/typography";
@use "base/base";


body {
  background: colors.$background-subtle; // 전체 사이트 배경
  //color: colors.$text-primary;
}

.container {
  background: #fff;
}
